body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

button {
    margin-right: 10px;
    background-color: #0055ff;
    border: none;
    padding: 0.5em;
}

button:hover {
    background-color: #1354d6;
}