body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

button {
    margin-right: 10px;
    background-color: #0055ff;
    border: none;
    padding: 0.5em;
}

button:hover {
    background-color: #1354d6;
}

.enlaceBoton {
    font-weight: bold;
    color: white;
    background-color: #0055ff;
    padding: 0.33em;
    text-decoration: none;
}
.enlaceBoton:hover{
    background-color: #1354d6;
}